/* Footer Area css
============================================================================================ */
.footer_area {
	padding: 120px 0 40px;
	position: relative;
	background-color: #000000;
	&:before {
		content: '';
		position: absolute;
		top: -200px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: $black;
		z-index: -1;
	}
	@media (max-width: 1024px) {
		padding: 60px 0 30px;
	}
	.footer_logo {
		margin: auto;
		width: 30%;
		h4 {
			font-size: 20px;
			color: $title-color;
			margin-top: 35px;
			text-transform: uppercase;
			text-align: center;
		}
	}
	.footer_social {
		text-align: center;
		margin: 25px 0px 30px;
		a {
			padding: 0 20px;
			transition: .1s ease-in-out;
			i {
				color: #788489;
				font-size: 22px;
				@include transition();
				@media (max-width: 576px) {
					font-size: 25px;
				}
				&:hover {
					color: $primary-color;
					scale: 1.2;
				}
			}
		}
	}

	.footer_bottom {
		text-align: center;
		p {
			margin-bottom: 0;
		}
		a {
			color: $primary-color;
		}
	}
}

/* End Footer Area css
============================================================================================ */
