/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Oswald', sans-serif;

/*Color Variables*/
$primary-color: #4458dc;
$primary-color2: #854fee;
$title-color: #ffffff;
$text-color: #777777;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
